.page {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 3.2rem;
    font-family: 'Abel', sans-serif;
}