.page {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ~~~~~~~~~~~~~ Home ~~~~~~~~~~~~~ */
.home-text-container {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-header {
    color: white;
    font-size: 4rem;
    font-family: 'Abel', sans-serif;
}

.home-full-name {
    color:cyan;
}

.home-button {
    width: 240px;
    height: 3rem;
    margin-top: 30px;
    background: #222;
    font-size: 1.6rem;
    font-family: 'Abel', sans-serif;
    color: white;
    border: 2px solid cyan;
}

.home-button:hover {
    border-color: orange;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

/* ~~~~~~~~~~~~~ About ~~~~~~~~~~~~~ */
.about-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-full-name {
    color: white;
    font-size: 2rem;
    font-family: 'Abel', sans-serif;
}

.about-portrait-container {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-portrait-frame {
    width: 240px;
    height: 240px;
    background: #333;
    border-radius: 120px;

}

.about-information-container {
    width: 500px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-mission-statement-container {
    width: 240px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-mission-statement {
    color: white;
    font-size: 1.2rem;
}

.about-skills-container {
    width: 240px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-skills-header {
    width: 180px;
    color: white;
    font-size: 1.8rem;
    font-family: 'Abel', sans-serif;
    border-bottom: 2px solid orange;
    padding-bottom: 2px;
}

.about-skills-list {
    width: 120px;
    height:120px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-skill {
    color: white;
    font-size: 1.2rem;
    font-family: 'Abel', sans-serif;
}

.about-skill::before {
    content: "\2022";
    color: orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about-links-container {
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-link {
    color: cyan;
    font-size: 3rem;
}

.about-link:hover {
    color: orange;
}

/* ~~~~~~~~~~~~~ Portfolio ~~~~~~~~~~~~~ */

.portfolio-page-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio-project-slide {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.portfolio-project-slide::-webkit-scrollbar {
    width: 10px;
}

.portfolio-project-slide::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #333;
}

.portfolio-project-slide::-webkit-scrollbar-thumb {
    background: cyan; 
    border-radius: 10px;
}

.portfolio-project-slide::-webkit-scrollbar-thumb:hover {
    background: orange; 
}

.portfolio-project-slide::-webkit-scrollbar-thumb:active {
    background: cyan; 
}

.portfolio-projects-header {
    color: white;
    font-size: 3rem;
    font-family: 'Abel', sans-serif;
    border-bottom: 4px solid white;
    padding-bottom: 6px;
    width:300px;
}

.portfolio-projects-container {
    width: 100%;

}